.form__button {
    width: 200px;
    border: none;
    background-color: burlywood;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.form__button:visited {
    background-color: green;
}

.form__button:focus {
    background-color: darkorange;
    ;
}

.form__button:hover {
    background-color: hsl(0, 67%, 45%);
}

.form__button:active {
    background-color: black;
}